.git
.github
.vscode
certbot
node_modules
.next
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache
coverage
dist
out
build
*.tar
*.zip
.dockerignore
README.md
docker
